<div class="col-sm-10 col-sm-offset-1 lists-users">
  <div class="page-header">
    <h3>
      <span class="glyphicon glyphicon-user"></span> Department Lists
      <a href="javascript: window.location.href = '/admin/departments/new'" class="btn btn-primary pull-right btn-add">+</a>
    </h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Description</th>
          <th>Code</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user_department.each do |ud| %>
          <tr>
            <td><%= ud.description %></td>
            <td><%= ud.code %></td>
            <td><%= ud.status.description %></td>
            <td class="cell-control">
              <a href="javascript: window.location.href = '/admin/departments/<%= ud.id %>/edit'">
                <span class="glyphicon glyphicon-pencil"></span> Edit
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
