<div class="col-sm-6 col-sm-offset-3 lists-users">
  <div style="margin: 20px 0">
    <% if flash[:notice] %>
      <div class="alert alert-info fade-in col-sm-4 col-sm-offset-4">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <div class="page-header">
    <h3>
      <a href="/admin/departments" style="text-decoration: none">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <span class="glyphicon glyphicon-user"></span> New Department
    </h3>
  </div>
  <%= render 'form' %>
</div>
