<div class="panel panel-default">
  <div class="panel-heading">
    Advisory Header
  </div>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-sm-6">
        <label class="form-label">Recipient:</label>
        <%= f.select :recipients, options_for_select(UserDepartment.where.not(id: [1]).order(:code).collect { |u| [u[:code], u[:id]] }, selected: @memo.recipients), {}, id: 'recipient-select', class: 'form-control', multiple: 'multiple', required: true %>
      </div>
      <div class="col-sm-6">
        <label class="form-label">Incoordinate with:</label>
        <%= f.select :incoordinate_with, options_for_select(User.where.not(id: [@user.id]).order(:email).collect { |u| [u[:email], u[:id]] }, selected: @memo.incoordinate_with), {}, id: 'incoordinate-select', class: 'form-control', multiple: 'multiple', required: true %>
      </div>
    </div>
  </div>
</div>