.memo {
  &-lists {
    .panel-body {
      height: 350px;
      padding-top: 0;
      overflow-y: auto;

      .row {
        border-bottom: 1px solid #dedede;
        padding: 12px 7px 12px 12px;

        &:hover{
          background-color: #fafafa;
        }

        label {
          font-weight: normal;
          margin: 0;
        }

        button {
          padding: 0 2px;
        }
      }
    }
  }

  &-info {
    .panel-body {
      height: 350px;
    }
  }
}
