.content {
  &-memo {
    label {
      &.form-label {
        margin: 7px 0;
        font-weight: normal;
      }
    }

    .btn-link {
      padding: 0;
    }

    .has-input-group {
      padding-right: 0;

      .input-group-addon {
        padding: 5px;
      }
    }
  }
}