.content {
  &-memo {
    label {
      &.form-label {
        margin: 7px 0;
        font-weight: normal;
      }
    }

    .btn-link {
      padding: 0;
    }

    .has-input-group {
      padding-right: 0;

      .input-group-addon {
        padding: 5px;
      }
    }
  }
}

.view-memo {
  margin-bottom: 20px;

  table {
    border-color: #000;

    & > tbody > tr > td,
    & > thead > tr > th {
      border-color: #000;
    }

    &.category {
      margin-bottom: 0;
      thead {
        background-color: #939ADD;

        & > tr > th {
          border-width: 1px;
          text-align: center;
        }
      }
    }

    &.primary-reason {
      background-color: #2C1663;
      color: #fff;
      margin: 0;

      & > tbody > tr > td {
        white-space: nowrap;
      }
    }
  }

  .below-btns {
    margin-top: 30px;
  }
}
