<div class="panel panel-default">
  <div class="panel-heading memo-title"><i>Select a memo</i></div>
  <div class="panel-body memo-info">
    <%= render 'memo_info_body' unless @memo.blank? %>
  </div>
</div>