<div class="col-sm-12">
  <div class="page-header">
    <h3>Memos</h3>
  </div>
  <div class="col-sm-6 memo-lists">
    <%= render 'memo_lists' %>
  </div>
  <div class="col-sm-6 memo-info">
    <%= render 'memo_info' %>
  </div>
</div>
