<div id="con" style="margin-top: 50px;"></div>
<script type="text/javascript">
  // #15
  // var n = 4;
  // var m = 3;
  var a = '';

  // for (var x = 0; x < m; x++) {
  //   for (var y = 0; y < n; y++) {
  //     a += '* ';
  //   }
  //   a += '<br/>';
  // }
  // $("#con").html(a);

  // #13
  // var n = 4;
  // for (var x = n; x > 0; x--){
  //   for (var y = x; y > 0; y--){
  //     a += y.toString() + ' ';
  //   }
  //   a += '<br/>';
  // }

  // #16
  // var n = 5;
  // var m = 6;
  // for (var x = 1; x <= m; x++) {

  //   for (var y = 1; y <= n; y++) {
  //     if ( (x > 1 && x < m) && (y > 1 && y < n)) {
  //       a += '&nbsp;&nbsp;';
  //     } else {
  //       a += '* ';
  //     }
  //   }
  //   a += '<br/>';
  // }

  // #11
  var n = 4;
  

  // #12
  var n = 4;

  $("#con").html(a);

</script>