<% @memos.each do |memo| %>
  <div class="row">
    <label><%= memo.memo_title.html_safe %></label>
    <label class="pull-right">
      <%= memo.date_send %>
      <button type="button" class="btn-link" onclick="memo_info('<%= memo.sid %>')"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </label>
  </div>
<% end %>
