<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-4">
        <%= text_field_tag 'tb-created-search', nil, class: 'form-control', placeholder: 'Search', 'data-dept': 'memo' %>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <%= date_field_tag nil, nil, id: 'created-flight-date', class: 'form-control', 'data-dept': 'memo' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body memo-lists">
    <%= render partial: 'admin/memo/created/body' %>
  </div>
</div>
