.navbar{
  border-bottom: 5px solid rgba(0,0,0, 0.3);
  background-color: #333;

  .navbar-nav {
    & > li {
      & > a {
        color: #fff;

        &:hover {
          background-color: #272727;
        }
      }
    }

    & > .open {
      & > a {
        background-color: #272727;

        &:hover, &:focus {
          background-color: #272727;
        }
      }

      .dropdown-menu {
        box-shadow: none;
        background-color: #333;
        border: none;
        border-radius: 0;
        margin-top: 1px;
        padding: 0;

        & > li > a {
          color: #fff;
          background-color: transparent;
          font-size: 13px;
          font-weight: 300;
          padding: 12px 15px;
          white-space: nowrap;

          &:hover, &:focus {
            background-color: #272727;
          }
        }
      }
    }
  }
}

.container-fluid {
  &.content {
    margin-top: 51px;

    .page-header {
      /*border-bottom-color: #1d2d61;
      border-bottom-width: 2px;*/

      h3 {
        margin: 0;
        /*color: #1d2d61;*/
      }
    }
  }

  input {
    &[type='date'], &[type='time'] {
      line-height: initial;
    }
  }

  textarea {
    resize: none;
    height: 135px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }
}

.cs-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
  z-index: 9999;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  /*width: calc(100% - 200px);*/
  width: 100%;
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
