<% @advisory.each do |adv| %>
  <a href="/admin/advisory/review-advisory/<%= adv.sid %>" style='text-decoration: none; color: #333;'>
    <div class="row">
      <label><%= "#{adv.title.html_safe} #{ reply_count(adv.id) }".html_safe %></label>
      <label class="pull-right">
        <%= adv.date_send %>
        <span class="glyphicon glyphicon-chevron-right" style="color: #337ab7"></span>
      </label>
    </div>
  </a>
<% end %>
